<%- include('./messages/messages')%>

<div class="main ">

  <form class="row main-2 bg-primary opacity-1" action="/offers" method="POST">
    <span>
      <input class="search search-input form-label" name="air_d" type="text" placeholder="aeroport depart" required />
      <div class="sug suggestions">
      </div>
    </span>
    <span>
      <input class="search search-input2 form-label" name="air_a" type="text" placeholder="aeroport ariver" required />
      <div class="sug suggestions2">
      </div>
    </span>
    <input class="form-label" type="date" id="start" name="date_d" required>
    <input class="form-label" type="date" id="start" name="date_r" required>
    <input class="form-label" type="number" name="place" id="place" required>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn btn-dark" type="submit">search</button>
  </form>
</div>
<script src="js/search.js"></script>